<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <area>
    <name>DynDns</name>
    <setting>
      <key>Hostname</key>
      <value>horsten.sternheim.eu</value>
    </setting>
    <setting>
      <key>UpdateHost</key>
      <value>dyndns.strato.com</value>
   </setting>
    <setting>
      <key>UseHttps</key>
      <value>true</value>
    </setting>
    <setting>
      <key>Password</key>
      <value>1234</value>
    </setting>
    <setting>
      <key>ForceUpdateIntervall</key>
      <value>00:02:00</value>
    </setting>
    <setting>
      <key>Username</key>
      <value>horsten.sternheim.eu</value>
    </setting>
    <algorithm>
      <key>IpCrawler</key>
      <name>NetworkCard</name>
      <setting>
        <key>IgnoreLocalVariables</key>
        <value>true</value>
      </setting>
      <setting>
        <key>NetworkCard</key>
        <value>Drahtlos</value>
      </setting>
    </algorithm>
  </area>
  <area>
    <name>Mongo</name>
    <setting>
      <key>DbName</key>
      <value>test</value>
    </setting>
    <setting>
      <key>Username</key>
      <value></value>
    </setting>
    <setting>
      <key>Password</key>
      <value></value>
    </setting>
    <setting>
      <key>Uri</key>
      <value>localhost</value>
    </setting>    
  </area>
</configuration>